.navigation_menu_item {
    text-decoration: none;
    margin-left: var(--v__3);
}
.navigation_menu_item:link,
.navigation_menu_item:visited {
    color: var(--color_darkgray);
}
.navigation_menu_item:hover,
.navigation_menu_item:active {
    color: var(--color_orange);
}