.ico {
    margin: 0 var(--v__0_5);
    width: var(--v__4);
    height: var(--v__4);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.2s;
}
.ico:hover {
    margin: 0 var(--v__0_5);
    width: var(--v__4);
    height: var(--v__4);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.05);
    transition: 0.2s;
}
.ico_facebook {
    background-image: url("../../../images/ico/animated/facebook.svg");
}
.ico_facebook:hover {
    background-image: url("../../../images/ico/animated/facebook active.svg");
}
.ico_twitter {
    background-image: url("../../../images/ico/animated/twitter.svg");
}
.ico_twitter:hover {
    background-image: url("../../../images/ico/animated/twitter active.svg");
}
.ico_pinterest {
    background-image: url("../../../images/ico/animated/pinterest.svg");
}
.ico_pinterest:hover {
    background-image: url("../../../images/ico/animated/pinterest active.svg");
}
.ico_googlePlay {
    background-image: url("../../../images/ico/animated/google_plus.svg");
}
.ico_googlePlay:hover {
    background-image: url("../../../images/ico/animated/google_plus active.svg");
}
.ico_behance {
    background-image: url("../../../images/ico/animated/behance.svg");
}
.ico_behance:hover {
    background-image: url("../../../images/ico/animated/behance active.svg");
}
.ico_instagram {
    background-image: url("../../../images/ico/animated/instagram.svg");
}
.ico_instagram:hover {
    background-image: url("../../../images/ico/animated/instagram active.svg");
}