.sidebar {
    width: 100%;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    text-align: center;
}
.sidebar_title {
    padding: var(--v__1) var(--h__1);
    border: 1px solid var(--color_darkwhite);
}
.sidebar_title:not(:first-child)  {
    margin-top: var(--v__8);
}

.categories {}
.categories_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: var(--v__1_5) 0;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: var(--color_gray);
}

.social_media {
    margin-top: var(--v__2);
    display: grid;
    place-items: center;
    gap: var(--v__0_5);
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: stretch;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    text-align: center;

    color: var(--color_lightgray);
}
.social_media_item {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--color_darkwhite);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tags {
    margin-top: var(--v__2);
    display: flex;
    flex-wrap: wrap;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: var(--color_gray);
}
.tag {
    margin: var(--v__0_5);
    background-color: var(--color_darkwhite);
    padding: var(--v__1) var(--h__0_5);
}

.ico_s {
    margin: 0.2vh;
    width: var(--v__2);
    height: var(--v__2);
    background-repeat: no-repeat;
    background-size: cover;
}