.header_right_block {
    display: flex;
    float: left;
    align-items: center;
}

.navigation_menu {
    display: flex;
    flex-direction: row;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}