.main_content {
    margin: var(--v__6) var(--h__20);
    display: grid;
    /*place-items: center;*/
    column-gap: var(--h__6);
    grid-template-columns: 3fr 1fr;
    align-items: flex-start;
    justify-content: stretch;
}