.instagram_contact {
    margin: var(--v__3) 0;

    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    text-align: center;
}
.line_inst_photos {
    display: flex;
    justify-items: stretch;
    justify-content: space-evenly;
}
.line_inst_photos img {
    width: calc(90vw/6);
    aspect-ratio: 1/1;
}