.text_logo {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 2.5px;

    text-transform: uppercase;

    color: var(--color_darkgray);
}
.line_for_logo {
    position: relative;
    top: -10px;
    background-color: var(--color_orange);
    width: 100%;
    height: 6px;
    z-index: -1;
    opacity: 0.35;
}