.text_sans_xxs {
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
}
.text_serif_xxs {
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
}
.text_serif_italic_xxs {
    font-family: 'PT Serif';
    font-style: italic;
    font-size: 10px;
    line-height: 14px;
}
.text_sans_xs {
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
}
.text_serif_xs {
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
}
.text_sans_s {
    font-family: 'PT Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}
.text-serif-s {
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
}
.text_serif_italic_s {
    font-family: 'PT Serif';
    font-style: italic;
    font-size: 14px;
    line-height: 19px;
}
.text_serif_m {
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
}
.text_serif_l {
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 18px;
    line-height: 26px;
}
.text_serif_xl {
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
}
.text_serif_xxl {
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 25px;
    line-height: 33px;
}
.text_serif_xxxl {
    font-family: 'PT Serif';
    font-style: normal;
    font-size: 34px;
    line-height: 38px;
}

.text_gray {
    color: var(--color_gray);
}
.text_darkgray {
    color: var(--color_darkgray);
}
.text_white {
    color: var(--color_white);
}
.text_orange {
    color: var(--color_orange);
}
.text_lightgray {
    color: var(--color_lightgray);
}

.text_upper {
    text-transform: uppercase;
}
.text_center {
    text-align: center;
}
.text_left {
    text-align: left;
}