:root {
    --hero-height: 70vh;

    /* color */
    --color-white: #FFFFFF;
    --color-darkgray: #171717;
    --color-lightgray: #B1B1B1;
    --color-darkwhite: #F1F1F1;
    --color-gray: #666666;
    --color-orange: #C9A96E;

    /* vh */
    --v-0_5: 0.5vh;
    --v-1: 1vh;
    --v-1_5: 1.5vh;
    --v-2: 2vh;
    --v-3: 3vh;
    --v-4: 4vh;
    --v-5: 5vh;
    --v-6: 6vh;
    --v-8: 8vh;
    --v-10: 10vh;

    /* vw */
    --h-0_5: 0.5vw;
    --h-1: 1vw;
    --h-1_5: 1.5vw;
    --h-2: 2vw;
    --h-3: 3vw;
    --h-4: 4vw;
    --h-5: 5vw;
    --h-6: 6vw;
    --h-7: 7vw;
    --h-8: 8vw;
    --h-10: 10vw;
    --h-20: 20vw;
    --h-40: 40vw;
}